[submodule "tigris_thermal"]
	path = tigris_thermal
	url = https://github.com/tigris-mt/tigris_thermal
[submodule "tigris_base"]
	path = tigris_base
	url = https://github.com/tigris-mt/tigris_base
[submodule "tigris_mobs"]
	path = tigris_mobs
	url = https://github.com/tigris-mt/tigris_mobs.git
[submodule "tigris_magic"]
	path = tigris_magic
	url = https://github.com/tigris-mt/tigris_magic.git
[submodule "tigris_player"]
	path = tigris_player
	url = https://github.com/tigris-mt/tigris_player.git
[submodule "tigris_underworld"]
	path = tigris_underworld
	url = https://github.com/tigris-mt/tigris_underworld
[submodule "tigris_mobs_monsters"]
	path = tigris_mobs_monsters
	url = https://github.com/tigris-mt/tigris_mobs_monsters
[submodule "tigris_mobs_animals"]
	path = tigris_mobs_animals
	url = https://github.com/tigris-mt/tigris_mobs_animals
[submodule "fertilepots"]
	path = fertilepots
	url = https://github.com/tigris-mt/fertilepots
[submodule "tigris_jewelry"]
	path = tigris_jewelry
	url = https://github.com/tigris-mt/tigris_jewelry
